---
- name: Download wordpress
  get_url:
    url: "https://wordpress.org/latest.tar.gz"
    dest: "/var/www/wordpress.tar.gz"
    mode: 0644

- name: Extract wordpress
  unarchive:
    src: "/var/www/wordpress.tar.gz"
    dest: "/var/www/"
    remote_src: yes
    mode: 0755
    owner: www-data
    group: www-data

- name: Clean up tar file
  file:
    path: "/var/www/wordpress.tar.gz"
    state: absent

- name: backup default sites available
  command: mv /etc/apache2/sites-available/000-default.conf /etc/apache2/sites-available/000-default.conf.backup

- name: Update Apache VirtualHost for WordPress
  template:
  src: wordpress.j2
  dest: /etc/apache2/sites-available/000-default.conf
  owner: root
  group: root
  mode: 0644
  notify: restart apache2
